<mat-card class="title">
  <mat-card-header><h1>Welcome to the Rock Paper Scissors Game!</h1></mat-card-header>
  <mat-card-content>Choose your Symbol! You either win, lose or get a draw. If you wanna play again, just click again!</mat-card-content>
</mat-card>


<mat-card>
<mat-grid-list cols="3" rowHeight="2:1">
  <div class="example-button-row">
    <mat-grid-tile> <button mat-raised-button color="primary" (click)="play('rock')">Rock</button> </mat-grid-tile>
    <mat-grid-tile> <button mat-raised-button color="primary" (click)="play('paper')">Paper</button> </mat-grid-tile>
    <mat-grid-tile> <button mat-raised-button color="primary" (click)="play('scissors')">Scissors</button> </mat-grid-tile>
  </div>
</mat-grid-list>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
<mat-grid-list cols="1" rowHeight="5:1">
  <mat-grid-tile>
    <mat-card class="title">
      <div *ngIf="result">
        You played <b>{{ result.player ?  result.player : "nothing yet" }} </b>, the computer played <b>{{ result.computer ? result.computer : "nothing yet" }}</b>.
        <div *ngIf="result.winner === 'player'">You won!</div>
        <div *ngIf="result.winner === 'computer'">The computer won.</div>
        <div *ngIf="result.winner === 'draw'">It's a draw.</div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</mat-card>
