
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
 
  button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 300px;
    min-height: 100px;
    border-radius: 0px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
 }

 .title {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: larger;
}


