/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 20px;
  margin: 0;
  background-color: lightgrey;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
}

